<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="toolbar" color="primary">
  <h3 routerLink="/">Court Management</h3>
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">Search Case</button>
      <button mat-menu-item routerLink="/admin">Administration</button>
    </mat-menu>
  </div>
  <div>
      <input class="search" placeholder="Search">
  </div>
</mat-toolbar>

<router-outlet></router-outlet>



