<div class="alert" *ngIf="alert">
  No Records Found
</div>

<div>
  <mat-card>
    <mat-card-title>Search</mat-card-title>
    <mat-card-content class="criteria">
      <mat-form-field>
        <input matInput placeholder="Adhar" [formControl]="adhar">
      </mat-form-field>
      <span>or</span>
      <mat-form-field>
        <input matInput placeholder="FIR Number" [formControl]="fir">
      </mat-form-field>
      <span *ngIf="pageType === 'admin'">or</span>
      <div *ngIf="pageType === 'admin'">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="From" [formControl]="fromDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="To" [formControl]="toDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-raised-button color="primary" (click)="search()">Search</button>
    </mat-card-actions>

    <app-results [search]="searchInfo" class="results"></app-results>
  </mat-card>
</div>
